<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/sign-up.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <div class="main-container">
      <section class="image-section">
        <a href="../views/index.html">
          <img class="arrow" src="../../assets/img/arrow.png" />
        </a>
        <img
          class="logo-02"
          src="../../assets/img/logo-rr-2.png"
          alt="radium rocket02"
        />
      </section>
      <main class="main-section">
        <h1>sign up</h1>
        <a href="../views/index.html">
          <img class="arrow-desktop" src="../../assets/img/arrow.png" />
        </a>
        <a href="./index.html">
          <img class="logo-01" src="../../assets/img/logo-rr-1.png" />
        </a>

        <form id="form" class="form">
          <div class="form-area">
            <div class="form-field-text" id="name-group">
              <label for="name"> Name </label>
              <input
                name="name"
                class="input"
                id="name"
                type="text"
                placeholder="Insert your Name"
              />
              <p class="form-input-error">
                Letters only and must be more than 3 letters.
              </p>
            </div>

            <div class="form-field-text" id="lastname-group">
              <label for="last"> Lastname </label>
              <input
                name="lastname"
                class="input"
                id="lastname"
                type="text"
                placeholder="Insert your Lastname"
              />
              <p class="form-input-error">
                Letters only and must be more than 3 letters.
              </p>
            </div>

            <div class="form-field-text" id="dni-group">
              <label for="dni"> DNI </label>
              <input
                name="dni"
                class="input"
                id="dni"
                type="text"
                placeholder="Insert your DNI"
              />
              <p class="form-input-error">
                Numbers only and must have more than 7 numbers.
              </p>
            </div>

            <div class="form-field-text" id="date-group">
              <label for="date"> Date </label>
              <input
                name="date"
                class="input"
                id="date"
                type="date"
                placeholder="dd/mm/aaaa"
              />
            </div>

            <div class="form-field-text" id="phone-group">
              <label for="phone"> Phone </label>
              <input
                name="phone"
                class="input"
                id="phone"
                type="text"
                placeholder="Insert your phone"
              />
              <p class="form-input-error">
                Numbers only and must have more than 10 numbers.
              </p>
            </div>

            <div class="form-field-text" id="address-group">
              <label for="adress"> Adress </label>
              <input
                name="adress"
                class="input"
                id="adress"
                type="text"
                placeholder="Insert your adress"
              />
              <p class="form-input-error">
                At least 5 characters with letters, numbers and a space in the
                half.
              </p>
            </div>

            <div class="form-field-text" id="location-group">
              <label for="location"> Location </label>
              <input
                name="location"
                class="input"
                id="location"
                type="text"
                placeholder="Insert your location"
              />
              <p class="form-input-error">
                Alphanumeric text and must have more than 3 letters.
              </p>
            </div>

            <div class="form-field-text" id="postal-group">
              <label for="postal"> Postal Code </label>
              <input
                name="postal"
                class="input"
                id="postal"
                type="text"
                placeholder="Insert your postal code"
              />
              <p class="form-input-error">
                Numbers only and must have between 4 and 5 numbers.
              </p>
            </div>

            <div class="form-field-text" id="email-group">
              <label for="email"> E-mail </label>
              <input
                name="email"
                class="input"
                id="email"
                type="text"
                placeholder="mail@mail.com"
              />
              <p class="form-input-error">It must have a valid email format.</p>
            </div>

            <div class="form-field-text" id="password-group">
              <label for="password"> Password </label>
              <input
                name="password"
                class="input"
                id="password"
                type="text"
                placeholder="**********"
              />
              <p class="form-input-error">
                At least 8 characters, made up of letters and numbers.
              </p>
            </div>

            <div class="form-field-text" id="repeat-group">
              <label for="repeat"> Repeat Password </label>
              <input
                name="repeat"
                class="input"
                id="repeat"
                type="password"
                placeholder="**********"
              />
              <p class="form-input-error">
                At least 8 characters, made up of letters and numbers.
              </p>
            </div>
          </div>

          <div class="forgot">
            <a href="">Acepts terms and conditions?</a>
            <input type="checkbox" />
          </div>

          <div id="message-form" class="message-form">
            <p>Error: rellena el formulario correctamente</p>
          </div>

          <button id="submitButton" class="button-submit" type="submit">
            Register
          </button>

          <div class="login-section">
            <p>You already have an account?</p>
            <a href="./login.html">login</a>
          </div>
        </form>
      </main>
    </div>

    <div id="modal" class="modal">
      <div id="modal-content" class="modal-content"></div>
    </div>

    <script src="../js/sign-up.js"></script>
  </body>
</html>
