:root {
  --Green: #aace9b;
  --Blue: #373867;
  --Grey: #ebecf0;
  --LightGrey: #f8f6f7;
  --DarkBlue: #171642;
  --RadioColor: #34636e;
}

h1,
h2,
h3,
h4 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
  color: var(--Blue);
  text-transform: uppercase;
}

p,
label,
a {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: var(--Blue);
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

.line {
  width: 80%;
  height: 3px;
  margin: 0 auto;
  background-color: var(--Blue);
}

header {
  width: 80%;
  height: 120px;
  margin-left: 20%;
  background-color: var(--Blue);
}

header img {
  margin-left: 40px;
  padding: 45px 0px 45px 50px;
}

header h1 {
  display: inline;
  position: absolute;
  padding: 40px 0px 0px 55px;
  color: var(--Green);
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 20%;
  left: 0;
  top: 0;
  background-color: var(--Green);
  text-align: center;
}

.logo-rr1 {
  width: 95px;
  height: 140px;
  margin-top: 45px;
}

nav {
  margin: 20px 0;
}

.nav-item,
.help-item {
  display: inline-block;
  width: 105px;
  padding: 20px 30px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: var(--Grey);
  text-align: center;
  text-transform: uppercase;
}

.nav-item:hover,
form button[type="submit"]:hover {
  background-color: var(--RadioColor);
  color: var(--LightGrey);
}

nav ul li:first-child a {
  background-color: var(--Blue);
  color: var(--Grey);
}

nav ul li:first-child a:hover {
  background-color: var(--DarkBlue);
}

.other-options {
  margin: 20px 0;
}

.contact-list li a {
  text-shadow: 0 3px 4px grey;
}

.contact-list li img {
  width: 23px;
  position: relative;
  top: 5px;
}

.sidebar h2 {
  font-size: 30px;
}

.main-content {
  margin-left: 20%;
  width: 80%;
}

.section {
  width: 90%;
  margin: 50px auto;
}

.section-health {
  position: relative;
  height: 700px;
  margin-bottom: 0;
}
.text-container {
  width: 50%;
}

.text-container h2 {
  margin-bottom: 30px;
}

.section-health img {
  position: absolute;
  width: 50%;
  height: 500px;
  right: 0;
  top: 0;
}

.section-help {
  padding: 20px;
  text-align: center;
}

.section-help h2 {
  padding-top: 30px;
  color: var(--Grey);
}

.background {
  height: 700px;
  padding: 120px 0 0 0;
  background-image: url("../img/section-02.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.background ul {
  margin-top: 30px;
}

.list {
  margin: 20px;
  width: 200px;
}

.form-field {
  display: block;
  margin-top: 20px;
}

.form-field input[type="text"] {
  width: 293px;
  height: 1px;
  margin-left: 30px;
  padding: 20px;
  border-radius: 20px;
}

.reason-for-contact {
  margin: 30px 0px;
}

form textarea {
  display: block;
  width: 80%;
  height: 200px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: var(--LightGrey);
  font-weight: 500;
  font-size: 20px;
  outline: none;
}

form button {
  width: 100px;
  height: 40px;
  padding: 0;
  border-radius: 5px;
  border: none;
  font-weight: 600;
}

form button[type="submit"] {
  display: inline;
  margin: 10px 0;
  background-color: var(--Green);
  cursor: pointer;
  color: var(--Blue);
}

form button[type="reset"] {
  display: inline;
  margin-left: 50px;
  cursor: pointer;
  color: var(--Blue);
}

input[type="radio"] {
  accent-color: var(--RadioColor);
}

.section-history h2 {
  margin-bottom: 20px;
}

.background-container {
  position: relative;
  width: 100%;
  height: 765px;
  background-image: url("../img/history-section.jpg");
  background-repeat: no-repeat;
  text-align: center;
}

.background-container p {
  position: absolute;
  top: 28%;
  left: 25%;
  width: 50%;
  color: white;
}

.section-activities h3 {
  margin-bottom: 60px;
}

.black-title {
  color: black;
}

.activities-area {
  display: inline-block;
  position: absolute;
  margin-left: 30px;
  width: 50%;
}

.activities-list p {
  display: inline-block;
  position: relative;
  bottom: 32px;
}

.activities-list img {
  width: 71px;
  height: 71px;
  margin-right: 20px;
}

.activities-list li {
  margin-bottom: 30px;
}

.membership-area {
  margin-left: 50%;
}

.membership-area ul {
  position: relative;
  bottom: 70px;
  margin: 0%;
  list-style: inside;
}

.membership-area h4 {
  position: relative;
  bottom: 85px;
  font-size: 30px;
  color: black;
}

.membership-area li {
  margin-bottom: 10px;
  font-weight: 600;
}

.membership-area img {
  position: relative;
  right: 15%;
  top: 2px;
}

footer {
  position: relative;
  width: 80%;
  margin-left: 20%;
  height: 135px;
  background-color: var(--Blue);
}

footer p {
  position: absolute;
  top: 50%;
  padding-left: 30px;
  color: black;
}

.social-container {
  position: absolute;
  right: 0;
  top: 40%;
  margin-right: 30px;
}

.social-container img {
  width: 55px;
  height: 55px;
}
