<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/login.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Login</title>
  </head>
  <body>
    <div class="main-container">
      <section class="image-section">
        <img class="arrow" src="../img/arrow.png" />
        <img class="logo" src="../img/logo-rr-2.png" alt="radium rocket02" />
      </section>
      <main class="main-section">
        <img class="logo-02" src="../img/logo-rr-1.png" />
        <h1>login</h1>
        <form class="form">
          <div class="form-area">
            <div class="form-field-text">
              <label for="name"> User </label>
              <input
                id="name"
                type="text"
                placeholder="Insert your email"
                required
              />
            </div>
            <div class="form-field-text">
              <label for="surname"> Password </label>
              <input
                id="surname"
                type="text"
                placeholder="Insert your password"
                required
              />
            </div>
          </div>

          <div class="forgot">
            <div>
              <input type="checkbox" />
              <label>Keep me sign</label>
            </div>
            <a href="">Forgot password?</a>
          </div>

          <button class="button-submit" type="submit">login</button>
        </form>
      </main>
    </div>
  </body>
</html>
