<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/reset.css" />
    <link rel="stylesheet" href="../css/sign-up.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <div class="main-container">
      <section class="image-section">
        <a href="../views/index.html">
          <img class="arrow" src="../img/arrow.png" />
        </a>
        <img class="logo-02" src="../img/logo-rr-2.png" alt="radium rocket02" />
      </section>
      <main class="main-section">
        <h1>sign up</h1>
        <a href="../views/index.html">
          <img class="arrow-desktop" src="../img/arrow.png" />
        </a>
        <a href="./index.html">
          <img class="logo-01" src="../img/logo-rr-1.png" />
        </a>

        <form id="form" class="form">
          <div class="form-area">
            <div class="form-field-text">
              <label for="name"> Name </label>
              <input
                name="name"
                class="input"
                id="name"
                type="text"
                placeholder="Insert your Name"
              />
            </div>

            <div class="form-field-text">
              <label for="last"> Lastname </label>
              <input
                name="lastname"
                class="input"
                id="lastname"
                type="text"
                placeholder="Insert your Lastname"
              />
            </div>

            <div class="form-field-text">
              <label for="dni"> DNI </label>
              <input
                name="dni"
                class="input"
                id="dni"
                type="text"
                placeholder="Insert your DNI"
              />
            </div>

            <div class="form-field-text">
              <label for="date"> Date </label>
              <input
                name="date"
                class="input"
                id="date"
                type="date"
                placeholder="dd/mm/aaaa"
              />
            </div>

            <div class="form-field-text">
              <label for="phone"> Phone </label>
              <input
                name="phone"
                class="input"
                id="phone"
                type="text"
                placeholder="Insert your phone"
              />
            </div>

            <div class="form-field-text">
              <label for="adress"> Adress </label>
              <input
                name="adress"
                class="input"
                id="adress"
                type="text"
                placeholder="Insert your adress"
              />
            </div>

            <div class="form-field-text">
              <label for="location"> Location </label>
              <input
                name="location"
                class="input"
                id="location"
                type="text"
                placeholder="Insert your location"
              />
            </div>

            <div class="form-field-text">
              <label for="postal"> Postal Code </label>
              <input
                name="postal"
                class="input"
                id="postal"
                type="text"
                placeholder="Insert your postal code"
              />
            </div>

            <div class="form-field-text">
              <label for="email"> E-mail </label>
              <input
                name="email"
                class="input"
                id="email"
                type="text"
                placeholder="Insert your E-mail"
              />
            </div>

            <div class="form-field-text">
              <label for="password"> Password </label>
              <input
                name="password"
                class="input"
                id="password"
                type="text"
                placeholder="Insert your Password"
              />
            </div>

            <div class="form-field-text">
              <label for="repeat"> Repeat Password </label>
              <input
                name="repeat"
                class="input"
                id="repeat"
                type="password"
                placeholder="Repeat password"
              />
            </div>
          </div>

          <div class="forgot">
            <a href="">Acepts terms and conditions?</a>
            <input type="checkbox" />
          </div>

          <button id="submitButton" class="button-submit" type="submit">
            Sign In
          </button>

          <div class="login-section">
            <p>You already have an account?</p>
            <a href="../views/login.html">login</a>
          </div>
        </form>
      </main>
    </div>

    <script src="../js/sign-up.js"></script>
  </body>
</html>
