<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/sign-up.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <title>Sign Up</title>
  </head>
  <body>
    <div class="main-container">
      <section class="image-section">
        <a href="../views/index.html">
          <img class="arrow" src="../img/arrow.png" />
        </a>
        <img class="logo" src="../img/logo-rr-2.png" alt="radium rocket02" />
      </section>
      <main class="main-section">
        <h1>sign up</h1>
        <a href="../views/index.html">
          <img class="arrow-desktop" src="../img/arrow.png" />
        </a>
        <img class="logo-01" src="../img/logo-rr-1.png" />
        <form class="form">
          <div class="form-area">
            <div class="form-field-text">
              <label for="name"> Name </label>
              <input
                class="input input-error"
                id="name"
                type="text"
                placeholder="Insert your Name"
              />
            </div>
            <div class="form-field-text">
              <label for="surname"> Lastname </label>
              <input
                class="input"
                id="surname"
                type="text"
                placeholder="Insert your Lastname"
              />
            </div>

            <div class="form-field-text">
              <label for="email"> E-mail </label>
              <input
                class="input"
                id="email"
                type="text"
                placeholder="Insert your E-mail"
              />
            </div>

            <div class="form-field-text">
              <label for="user"> User </label>
              <input
                class="input"
                id="user"
                type="text"
                placeholder="Insert your User"
              />
            </div>

            <div class="form-field-text">
              <label for="password"> Password </label>
              <input
                class="input"
                id="password"
                type="text"
                placeholder="Insert your Password"
              />
            </div>

            <div class="form-field-text">
              <label for="reset"> Reset Password </label>
              <input
                class="input"
                id="reset"
                type="text"
                placeholder="Insert your new password"
              />
            </div>
          </div>

          <div class="forgot">
            <a href="">Acepts terms and conditions?</a>
            <input type="checkbox" />
          </div>
          <button class="button-submit" type="submit">Sign In</button>
        </form>
      </main>
    </div>
  </body>
</html>
