/*Globals*/

:root {
  --Green: #aace9b;
  --Blue: #373867;
  --Grey: #ebecf0;
}


h1,
h2,
h3,
h4 {
  font-weight: 700;
  font-size: 40px;
  line-height: 47px;
}

h5 {
  font-size: 30px;
  line-height: 35px;
  color:var(--Blue);
  font-weight:700;
}

p {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;
  color: var(--Blue);
}

a {
  font-size: 20px;
  color: var(--Blue);
  text-decoration: none;
  font-weight: 600;
  line-height: 23.44px;
}

body {
  font-family: "Roboto", sans-serif;
}

/*SIDEBAR*/
.sidebar {
  height: 3000px;
  width: 20%;

  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;

  background-color: var(--Green);
  padding-top: 20px;
  text-align:center;
}

.logo-rr1{
  width: 95px;
  height: 140px;
  margin-bottom:20px;
}


ul{
  margin-bottom:50px;
}

.nav-item {
  width: 105px;
  display: inline-block;
  border-radius: 5px;
  background-color: var(--Grey);
  text-align: center;
  padding: 20px 30px;
  line-height: 1;
  margin-top: 20px;
  text-transform:uppercase;
}

 nav ul li:first-child a{
  background-color:var(--Blue);
  color:var(--Grey);
}

.contact-list li a{
  text-shadow: 0 3px 4px grey;
}

/*PAGE CONTENT*/

header{
  width:100%;
  height:135px;
  background-color:var(--Blue);
}

.main-content {
  margin-left: 30%;
  width:80%;
  text-align:center;
}


