footer {
  background-color: var(--Blue);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

footer p {
  font-size: 5px;
  color: black;
}

.social-container img {
  width: 30px;
  height: 28px;
}
