.main-content {
  width: 95%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 0 auto;
}

.section-health {
  margin-top: 3.1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.health-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
}

.section-health h2 {
  margin-bottom: 1.25rem;
}

.section-health p {
  font-size: 0.75rem;
  text-shadow: #000000 1px 0 10px;
  font-weight: 300;
}

.section-health img {
  width: 100%;
}

.section-help {
  width: 100%;
  padding: 10rem 0;
  background-image: url("../img/section-02.jpg");
  background-size: fit;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.how-can-we-help-you-background {
  text-align: center;
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.8rem;
}

.section-help h2 {
  font-size: 2rem;
  color: white;
}

.help-item {
  background-color: var(--Grey);
  width: 14.1rem;
  height: 4.3rem;
  margin-bottom: 1.25rem;
  text-align: center;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  font-size: 1.2rem;
}

.section-form h2 {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  text-align: center;
}

.form-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.form-field-text {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 1.2rem;
}

.form-field-text input[type="text"] {
  width: 175px;
  height: 27px;
  border-radius: 20px;
  border: solid 1px var(--Blue);
}

.reason-for-contact h3 {
  margin: 0 0 1.2rem 1.2rem;
  font-size: 14px;
  text-transform: none;
}

.form-field {
  display: flex;
  width: 100%;
  margin-left: 1rem;
  gap: 30px;
  align-items: center;
  margin-bottom: 20px;
}

.message {
  width: 90%;
  margin-left: 20px;
}

form textarea {
  width: 90%;
  height: 6.25rem;
  border-radius: 10px;
  border: 1px solid var(--Blue);
  background-color: white;
  font-weight: 500;
  font-size: 0.6rem;
  outline: none;
}

.buttons-container {
  display: flex;
  width: 90%;
  gap: 20px;
}

form button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;
  color: var(--Blue);
}

form button[type="submit"] {
  background-color: var(--Green);
  margin-bottom: 10px;
  display: inline;
  width: 10.1rem;
}

form button[type="reset"] {
  display: inline-block;
  background-color: white;
  border: solid 1px var(--Blue);
}

.section-history h2 {
  text-align: center;
}

.background-container {
  background-image: url("../img/history-section.jpg");
  background-position: center;
  height: 26.9rem;
  margin-top: 1.25rem;
  display: flex;
  align-items: center;
}

.background-container p {
  color: var(--Grey);
  width: 80%;
  margin: 0 auto;
}

.section-activities {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  margin-bottom: 3.1rem;
}

.activities-area {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.activities-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-width: 12.5rem;
}

.activities-list li p {
  width: 80px;
}

.activities-list img {
  width: 4rem;
}

.membership-area {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.membership-area h3 {
  text-align: center;
  margin-bottom: 1.25rem;
}

.black-title {
  color: black;
}

.membership-test {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

@media only screen and (min-width: 480px) {
  .main-content {
    width: 100%;
  }

  .section-health {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }
  .activities-list {
    width: 50%;
    margin: 0 auto;
  }
  .section-health p {
    font-weight: 700;
    text-shadow: none;
  }

  .reason-for-contact {
    width: 90%;
  }

  form {
    gap: 50px;
  }

  .form-field-text {
    gap: 60px;
  }

  .form-area {
    align-items: flex-start;
    width: 80%;
  }

  .background-container {
    background-image: url("../img/history-blur.png");
    background-repeat: none;
    background-position: center;
  }

  .functional {
    display: inline-block;
  }
}

@media only screen and (min-width: 768px) {
  .section-health {
    display: flex;
    flex-direction: row;
  }
  .health-container {
    display: flex;
    flex-direction: row;
    height: 50%;
  }
  .section-health h2 {
    margin-bottom: 1.25rem;
  }

  .section-health p {
    font-size: 0.75rem;
    max-height: 100%;
  }

  .section-health img {
    max-width: 60%;
    max-height: 20rem;
  }

  .background-container {
    background-image: url("../img/history-blur.png");
    background-repeat: no-repeat;
    background-position: center;
  }

  .list-help-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
}

@media only screen and (min-width: 1024px) {
  .section-health {
    display: flex;
    flex-direction: column;
  }

  .section-health h2 {
    text-align: start;
  }

  .section-health img {
    height: 400px;
  }

  .main-content {
    width: 90%;
  }
  .list-help-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    max-width: 745px;
  }

  .section-form h2 {
    text-align: left;
    margin-left: 2%;
  }

  .line {
    width: 80%;
    height: 3px;
    background-color: var(--Blue);
    margin: 2rem auto;
  }

  .form-area {
    width: 100%;
    margin-left: 5%;
  }

  .reason-for-contact {
    width: 100%;
  }

  .reason-for-contact h3 {
    font-size: 19px;
  }

  .message {
    width: 100%;
    margin-left: 6%;
    font-size: 19px;
  }

  form textarea {
    width: 70%;
    margin-right: 25%;
  }

  .background-container {
    height: 40rem;
    background-image: url("../img/history-section.jpg");
    background-repeat: no-repeat;
    background-position: center;
  }

  .section-activities {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .activities-list li {
    gap: 30px;
  }

  .activities-area {
    width: 50%;
  }

  .membership-area {
    width: 50%;
  }

  .membership-test {
    gap: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .section-health {
    display: flex;
    flex-direction: column;
  }
}
