:root {
  --Green: #aace9b;
  --Blue: #373867;
  --Grey: #ebecf0;
  --LightGrey: #f8f6f7;
  --DarkBlue: #171642;
  --RadioColor: #34636e;
}

h1, h2, h3 {
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--Blue);
  text-transform: uppercase;
}

h4 {
  font-size:1.25rem;
  margin-bottom:0.8rem;
  color: var(--Blue);
  font-weight:700;
}


p,
label,
a {
  font-weight: 600;
  line-height: 23px;
  color: var(--Blue);
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}

@media only screen and (min-width: 480px) {
  body {
    display:flex;
  }
}
